## Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
List popular languages for Data Science:

*PYTHON

*R

*SQL

Some of the popular languages that Data Scientists use are:

1.Python
2.R
3.SQL

Some of the commonly used libraries used by Data Scientists include:
1.PANDAS
2.NUMPY 
3.MATPLOTLIB
4.SEABORN
5.GGPLOT



| Data Science Tools  | 
|:------------------: |
|  JUPYTER            |  
|  R                  |  
|  GITHUB             |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers

result = (3 * 4) + 5
result

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## AUTHOR --> JAYA SRI S